<ion-view view-title="Alerts">
    <ion-content >

        <ul class="list">

            <li class="item item-icon-left item-text-wrap">
                <i class="icon ion-alert"></i>
                The system will be down this Sunday from 1 am to 2 am
            </li>

            <li class="item item-icon-left item-text-wrap">
                <i class="icon ion-chatbubble-working"></i>
                Dont forget to check our website for updated rates and products
            </li>

        </ul>
    </ion-content>
</ion-view>
