<ion-view view-title="Contact">
    <ion-content>

        <div class="card">
            <div class="item item-text-wrap ">
                For further assistance.
                please contact us and we will be happy to assist you.


            </div>
        </div>
        <ul class="list">
            <li class="item item-icon-left item-text-wrap"><i class="icon ion-ios7-telephone-outline"></i> 1-800-255-6190</li>
            <li class="item item-icon-left item-text-wrap"><i class="icon ion-ios7-email-outline"></i> Support@CoBank.com</li>
        </ul>
    </ion-content>
</ion-view>
