<ion-view view-title="Home">
    <ion-content>
        <ul class="list">
            <li class="item item-positive item-text-wrap">
                2819xxxx <br />ALBERT CITY ELEVATOR A COOPERATIVE
                <ul class="list ">
                    <li class="item item-calm">
                        C/A TERM
                        <ul class="list">
                            <li class="item item-balanced">
                                0000109xxx - RIB03xxxx <br />Available Balance: 0.00
                            </li>
                            <li class="item item-balanced">
                                0000155xxx - RIB03xxxxx <br />Available Balance: 0.00

                                <ul>
                                    <li class="item item-icon-right item-text-wrap">
                                        **126xx - VAR <br />Principal Balance: 842,037.11 <a class="" href="#/app/transactions/**126xx"><i class="icon  ion-chevron-right"></i></a>
                                    </li>
                                </ul>
                            </li>
                            <li class="item item-balanced">
                                8110864xxx - RIB038xxxx <br />Available Balance: -2,000.00
                                <ul>
                                    <li class="item  item-icon-right">
                                        **54000 - VAR<br /> Principal Balance: 1,000.00<a class="" href="#/app/transactions"><i class="icon  ion-chevron-right"></i></a>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </li>
                </ul>
            </li>
            <div class="item item-positive">
                0006xxxx <br />BIG RIVER UNITED ENERGY, LLC
                <ul class="list ">
                    <li class="item item-calm">
                        C/A SEASONAL
                        <ul class="list">
                            <li class="item item-balanced">
                                000022xxxx - RI111xxxx  <br />Available Balance: 23,479,789.00
                            </li>
                            <li class="item item-balanced">
                                0000155xxx - RIB03xxxxx <br />Available Balance: 0.00

                                <ul>
                                    <li class="item  item-icon-right">
                                        **640xx - LOC<br />
                                        Principal Balance: 1,080,000.00<a class="" href="#/app/transactions"><i class="icon  ion-chevron-right"></i></a>

                                    </li>

                                    <li class="item  item-icon-right">
                                        **641xx - VAR<br />
                                        Principal Balance: 0.00<a class="" href="#/app/transactions"><i class="icon  ion-chevron-right"></i></a>

                                    </li>

                                    <li class="item  item-icon-right">
                                        **663xx - LOC<br />
                                        Principal Balance: 440,211.00<a class="" href="#/app/transactions"><i class="icon  ion-chevron-right"></i></a>

                                    </li>

                                    <li class="item  item-icon-right">
                                        **158xx - L/C<br />
                                        Principal Balance: 440,211.00<a class="" href="#/app/transactions"><i class="icon  ion-chevron-right"></i></a>

                                    </li>

                                    <li class="item  item-icon-right">
                                        **158xx - L/C<br />
                                        Principal Balance: 1,080,000.00<a class="" href="#/app/transactions"><i class="icon  ion-chevron-right"></i></a>

                                    </li>
                                </ul>
                            </li>
                            <li class="item item-balanced">
                                8110864xxx - RIB038xxxx<br /> Available Balance: -2,000.00
                                <ul>
                                    <li class="item  item-icon-right item-text-wrap">
                                        **54000 - VAR<br /> Principal Balance: 1,000.00<a class="" href="#/app/transactions"><i class="icon  ion-chevron-right"></i></a>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>

        </ul>
    </ion-content>
</ion-view>