<ion-view view-title="Home">
    <ion-content>
    
        <div style="border-bottom: solid; border-top: solid;">
            <div class="row-positive row">
                <div class="col">
                    2819xxxx <br/>ALBERT CITY ELEVATOR A COOPERATIVE
                </div>
            </div>
            <div class="row-royal row">
                <div class="col col-10"></div>
                <div class="col col-90">C/A TERM</div>
            </div>
            <div class="row row-energized">
                <div class="col col-10"></div>
                <div class="col col-90 ">
                    0000109xxx - RIB03xxxx <br/>Available Balance: 0.00
                </div>
            </div>
            <div class="row row-energized">
                <div class="col col-10"></div>
                <div class="col col-90">
                    0000155xxx - RIB03xxxxx <br/>Available Balance: 0.00
                </div>
            </div>
            <div class=" row icon-left">
                <div class="col col-10"></div>
                <div class="col col-80">
                    **126xx - VAR <br/>Principal Balance: 842,037.11
                </div>
                <div class="col col-10 text-right" style="padding-top: 10px;">
                    <a class=" " href="#/app/transactions/**126xx"><i class="icon positive ion-chevron-right" style="font-size: 35px;"></i></a>
                </div>
            </div>
        </div>
        <br/>
        <div style="border-bottom: solid; border-top: solid;">
            <div class="row-positive row">
                <div class="col">0006xxxx <br/>BIG RIVER UNITED ENERGY, LLC
                </div>
            </div>
            <div class="row-royal row">
                <div class="col col-10"></div>
                <div class="col col-90">C/A SEASONAL</div>
            </div>
            <div class="row row-energized">
                <div class="col col-10"></div>
                <div class="col col-90 ">
                    000022xxxx - RI111xxxx <br/>Available Balance: 23,479,789.00
                </div>
            </div>
            <div class="row row-energized">
                <div class="col col-10"></div>
                <div class="col col-90 ">
                    0000155xxx - RIB03xxxxx <br/>Available Balance: 0.00
                </div>
            </div>
            <div class="row">
                <div class="col col-10"></div>
                <div class="col col-80">
                    **640xx - LOC<br/>
                    Principal Balance: 1,080,000.00
                </div>
                <div class="col col-10 text-right" style="padding-top: 10px;">
                    <a class=" " href="#/app/transactions/**126xx"><i class="icon positive ion-chevron-right" style="font-size: 35px;"></i></a>
                </div>
            </div>
            <div class="row">
                <div class="col col-10"></div>
                <div class="col col-80">
                    **641xx - VAR<br/>
                    Principal Balance: 0.00
                </div>
                <div class="col col-10 text-right" style="padding-top: 10px;">
                    <a class=" " href="#/app/transactions/**126xx"><i class="icon positive ion-chevron-right" style="font-size: 35px;"></i></a>
                </div>
            </div>
            <div class="row">
                <div class="col col-10"></div>
                <div class="col col-80">
                    **663xx - LOC<br/>
                    Principal Balance: 440,211.00
                </div>
                <div class="col col-10 text-right" style="padding-top: 10px;">
                    <a class=" " href="#/app/transactions/**126xx"><i class="icon positive ion-chevron-right" style="font-size: 35px;"></i></a>
                </div>
            </div>
            <div class="row">
                <div class="col col-10"></div>
                <div class="col col-80">
                    **158xx - L/C<br/>
                    Principal Balance: 440,211.00
                </div>
                <div class="col col-10 text-right " style="padding-top: 10px;">
                    <a class=" " href="#/app/transactions/**126xx"><i class="icon positive ion-chevron-right" style="font-size: 35px;"></i></a>
                </div>
            </div>
            <div class="row">
                <div class="col col-10"></div>
                <div class="col col-80">
                    **158xx - L/C<br/>
                    Principal Balance: 1,080,000.00
                </div>
                <div class="col col-10 text-right" style="padding-top: 10px;">
                    <a class=" " href="#/app/transactions/**126xx"><i class="icon positive ion-chevron-right" style="font-size: 35px;"></i></a>
                </div>
            </div>
            <div class="row row-energized">
                <div class="col col-10"></div>
                <div class="col col-90 ">
                    8110864xxx - RIB038xxxx<br/> Available Balance: -2,000.00
                </div>
            </div>
            <div class="row">
                <div class="col col-10"></div>
                <div class="col col-80">
                    **54000 - VAR<br/> Principal Balance: 1,000.00
                </div>
                <div class="col col-10 text-right" style="padding-top: 10px;">
                    <a class=" " href="#/app/transactions/**126xx"><i class="icon positive ion-chevron-right" style="font-size: 35px;"></i></a>
                </div>
            </div>
        </div>
        <br/><br/><br/><br/><br/>



    </ion-content>
</ion-view>