 <ion-view view-title="Home">
    <ion-content>
        <ul class="list">
            <li class="item item-positive">
                2819xxxx ALBERT CITY ELEVATOR A COOPERATIVE
                <ul class="list ">
                    <li class="item item-calm">
                        C/A TERM
                        <ul class="list">
                            <li class="item item-balanced">
                                0000109xxx - RIB03xxxx Available Balance: 0.00
                            </li>
                            <li class="item item-balanced">
                                0000155xxx - RIB03xxxxx Available Balance: 0.00

                                <ul>
                                    <li class="item ">
                                        **126xx - VAR Principal Balance: 842,037.11 <i class="icon ion-chevron-right"></i>
                                    </li>
                                </ul>
                            </li>
                            <li class="item item-balanced">
                                8110864xxx - RIB038xxxx Available Balance: -2,000.00
                                <ul>
                                    <li class="item ">
                                        **54000 - VAR Principal Balance: 1,000.00<i class="icon ion-chevron-right"></i>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </li>
                </ul>
            </li>
            <div class="item item-positive">
                0006xxxx BIG RIVER UNITED ENERGY, LLC
            </div>
            <li class="item item-positive">
                2819xxxx ARCHER COOPERATIVE GRAIN CO
            </li>
            
        </ul>
    </ion-content>
</ion-view>
