<ion-view view-title="Transfer">
    <ion-content>

        <div class='row'>
            <div class="col col-40  col-center">
                Account <br/>
                <a ng-click="showAccountSelector('from')">From <i class=" icon-right ion-chevron-right"></i></a>
            </div>
            <div class="col col-66 col-center" ng-if="transfer.fromAccountId">
                <label>
                    {{fromAccount().owner}}/{{fromAccount().accountNumber}}/{{fromAccount().accountDescription}}
                </label>
            </div>
        </div>
        <div class ="row">
            <div class="col col-33  col-center " style="padding-top: 15px;padding-bottom: 15px;">
                    <a  ng-click="showAccountSelector('to')">To <i class=" icon-right ion-chevron-right"></i></a>
            </div>
            <div class="col col-66 col-center" ng-if="transfer.toAccountId">
                <label>
                    {{toAccount().owner}}/{{toAccount().accountNumber}}/{{toAccount().accountDescription}}
                </label>
            </div>
        </div>
        <div class="row">
            <div class="col col-33  col-center">Amount</div>
            <div class="col col-66 col-center">
                <input type="text" ng-model="transfer.amount">
            </div>

        </div>
        <div class="row">
            <div class="col col-33  col-center">Comment</div>
            <div class="col col-66 col-center">
                <input type="text" ng-model="transfer.comment">
            </div>
        </div >
        <!--<button class="button button-full button-positive" ng-click="closeAccountSelector()">Transfer</button>-->
        <div class ="row">
            <div class="col col-50"><a nav-clear menu-close class="button button-full button-positive" href="#/app/main">Cancel</a>  </div>
            <div class="col col-50"><a class="button button-full button-positive" href="#/app/transferComplete">Transfer</a>  </div>
        </div>
        
    </ion-content>
</ion-view>
