<ion-view view-title="Transfer">
    <ion-content>
        <div class="item item-divider item-balanced">
            Internal Transfer
        </div>
        
        <button class="button button-clear button-positive icon-right ion-chevron-right" ng-click="accountSelector.show()">
            From Account
        </button>

        <div class="card">
            <div class="item item-text-wrap">
                This is a basic Card which contains an item that has wrapping text.
            </div>
        </div>

                <!-- our list and list items -->
                <ion-list>
                    <ion-item ng-repeat="task in tasks">
                        {{task.title}}
                    </ion-item>
                </ion-list>
    </ion-content>
</ion-view>
