<ion-view view-title="Transfer">
    <ion-content>
        <div class="item item-divider item-balanced">
            Internal Transfer
        </div>
        
        <button class="button button-clear button-positive icon-right ion-chevron-right" ng-click="accountSelector.show()">
            From Account
        </button>

        <div class="card" ng-if="transfer.fromAccountId">
            <div class="item item-text-wrap">
                {{fromAccount().owner}}/{{fromAccount().accountNumber}}/{{fromAccount().accountDescription}}
            </div>
        </div>

        <button class="button button-clear button-positive icon-right ion-chevron-right"
                ng-click="accountSelector.show()">
            To Account
        </button>

        <div class="card" ng-if="transfer.toAccountId">
            <div class="item item-text-wrap">
                {{fromAccount().owner}}/{{fromAccount().accountNumber}}/{{fromAccount().accountDescription}}
            </div>
        </div>
    </ion-content>
</ion-view>
