<ion-view view-title="Transactions" ng-controller="TransactionCtrl as vm">
    <ion-content>
        <div style="border-bottom:  solid; border-top: solid;">
            <div class="item item-divider item-positive">
                Account Transactions Summary 01/09/2014 <br />
                {{vm.accountid}}
            </div>
            <ul ng-repeat="transaction in vm.tranactions ">
                <li class="item item-text-wrap">
                   
                        <div><b>{{transaction.date}} </b>{{transaction.description}}</div>
                        <div class="text-right">{{transaction.amount}}</div>
                    
                </li>
            </ul>
        </div>
    </ion-content>
</ion-view>
