.cobank-blue {color: #005288;}
.cobank-darkgreen {color: #387C2B}
.cobank-lightgreen {color: #65B360;}
.cobank-gray {color: #807F83;}
.cobank-lightblue {color: #A1D6F4;}
.cobank-lightbluegray {color: #E2E9EE;}
.cobank-darkbluegray { color: #CCBBD7;}
.cobank-yellow {color: #FFE512;}
.cobank-orange {color: #FFBA31;}
.cobank-earthbrown {color: #F1C485;}
.cobank-cream {color:#FFF6DC ;}

.item-positive{
    background-color:#005288 ;
    }

